/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.attachment-details .setting span[data-hx-mico-topics], .attachment-details .setting span[data-hx-mico-entities] {
    max-width: 66%;
    margin-right: 0;
}

.attachment-details .setting span.topic, .attachment-details .setting span.entity {
    background: #d3d3d3;
    border: 1px solid #404040;
    border-radius: 7px;
    margin: 2px;
    padding: 0 6px;
    line-height: 22px;
    text-align: center;
    min-width: initial;
}